    <%- include("./partials/header.ejs") %>
    <%- include("./partials/nav.ejs") %>
    
    <h1>About</h1>
    <p>Culpa, veniam possimus! Laudantium quod hic debitis fugit asperiores, minima aut illo itaque, tenetur at reprehenderit beatae facilis et qui, tempora mollitia.</p>

    <%- include("./partials/footer.ejs") %>