<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <div>
        <a href="/">Home</a>&nbsp;|&nbsp;
        <a href="/sobre">About</a>&nbsp;|&nbsp;
        <a href="/services">Services</a>&nbsp;|&nbsp;
    </div>
    
    <h1>About</h1>
    <p>Culpa, veniam possimus! Laudantium quod hic debitis fugit asperiores, minima aut illo itaque, tenetur at reprehenderit beatae facilis et qui, tempora mollitia.</p>
</body>
</html>